.u-section-1 .u-sheet-1 {
  min-height: 610px;
}

.u-section-1 .u-text-1 {
  margin: 39px 119px 0 450px;
}

.u-section-1 .u-image-1 {
  width: 400px;
  height: 400px;
  margin: -135px auto 0 25px;
}

.u-section-1 .u-text-2 {
  margin: -264px 119px 60px 450px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 19px;
    margin-left: 350px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 350px;
    margin-right: 19px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 149px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 149px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 624px;
}

.u-section-2 .u-text-1 {
  margin: 88px 504px 0 79px;
}

.u-section-2 .u-image-1 {
  width: 400px;
  height: 400px;
  margin: -98px 25px 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-style: italic;
  margin: -293px 504px 60px 79px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 131px;
    margin-right: 383px;
    margin-left: 25px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 383px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 163px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 163px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
}
